<!DOCTYPE <!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Developer Wellness</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <%- include('./partials/nav') %>

  <br><br><br>
  <header>
    <h1>Events</h1>
  </header>
  <main>
    <section>
      <fieldset id="searchCity">
        <form action="/search" method="get"/><!--sending user input as /search query-->
          <label>
            <h3>Input City Location</h3>
          </label>
          <input type="text" id="city" name="location">
          <select name="selectEventType" id="eventType">
            <option value=" 
                  ">Select Event Type</option>
            <option value="running_race">Running</option>
            <option value="walking_only">Walking</option>
            <option value="bike_race">Biking</option>
            <option value="triathlon">Triathlon</option>
            <option value="wheelchair">Wheelchair</option>
            <option value="swim">Swimming</option>
          </select>
          <button id="getCity" type="submit">Submit</button>
        </form>
      </fieldset>
    </section>
<br><br>
    <section>
      <% if (resultsArray.length > 0){ %>

        <% resultsArray.forEach(element => { %>
        <article>
          <fieldset>
            <form action="/favorite/<%= element.name %>?_method=PUT" method="POST">
            <img src="<%= element.logo_url %>" alt="<%= element.name %>">
            <input type="hidden" name="name" value="<%= element.name %>">
            <input type="hidden" name="next_date" value="<%= element.next_date %>">
            <input type="hidden" name="location" value="<%= element.location %>">
            <input type="hidden" name="external_race_url" value="<%= element.external_race_url %>">
            <input type="hidden" name="logo_url" value="<%= element.logo_url %>">
            <input type="hidden" name="description" value="<%= element.description %>">
            <label> 
              <h6 value="<%= element.name %>"><%= element.name %></h6>
            </label>
            <!-- <input type="hidden" name="description" value="<%= element.description %>"> -->
            <input type="hidden" name="completed " value="<%= element.completed %>">
            <label>
              <p><%- element.description %></p>
            </label>
                      <label>

                        <h6><%= element.next_date %></h6>

                      </label>
            <button type="submit" class="btn btn-lg btn-danger" data-toggle="popover" data-content="Added to Favorites!" data-delay: { "show": 500, "hide": 100 }>Add to Favorites</button>
            <br><br><br>
            <div id="linebreak"></div>
            <!-- <a href="/favorite/<%= element.name %>?_method:PUT method='POST'">Add to favorites</a> -->
            <!-- <a action="/favorite:<%= element.uniqId %>">Add to favorites</a> -->
            </form>
          </fieldset>
          </article> 
  
          <% }); %>
  
        </section>
      <% }; %>
      
  </main>

  <%- include('./partials/footer') %>
</body>
<script type="text/javascript" src="app.js" async defer></script>

</html>