<%- include('./partials/nav') %>
<br><br><br>
<body>
<header>
    <h1>My Stuff</h1>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
  </header>
    <main>
      <br>
        <section>
      <% resultsArray.forEach(element => { %>
        <article>
          <fieldset>
            <form class="<%- element.completed %>" action="/favorite/<%= element.id %>?_method=DELETE" method="POST">
              <img src="<%= element.logo_url %>" alt="<%= element.name %>">
              <input type="hidden" name="name" value="<%= element.name %>">
              <input type="hidden" name="next_date" value="<%= element.date %>">
              <input type="hidden" name="location" value="<%= element.location %>">
              <input type="hidden" name="external_race_url" value="<%= element.external_race_url %>">
              <input type="hidden" name="logo_url" value="<%= element.logo_url %>">
              <input type="hidden" name="description" value="<%= element.description %>">
              <label> 
                <h6 value="<%= element.name %>"><%= element.name %></h6>
              </label>
              <!-- <input type="hidden" name="description" value="<%= element.description %>"> -->
              <input type="hidden" name="completed " value="<%= element.completed %>">
              <label>
                <p><%- element.description %></p>
              </label>

                <h6><%- element.date %></h6>
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </br>
                <!-- <a href="/favorite/<%= element.name %>?_method:PUT method='POST'">Add to favorites</a> -->
                <!-- <a action="/favorite:<%= element.uniqId %>">Add to favorites</a> -->
              </form>
              <form class="<%- element.completed %>" action="/updateFavorite/<%= element.id %>?_method=PUT" method="POST">
                <button type="submit" class="btn btn-outline-primary" name="completed" value="<%- element.completed %>">Race Completed!</button>
              <br><br><br><br>
            </form>
          </fieldset>
        </article> 
        
        <% }); %>
        
      </section>
    </main>
    <%- include('./partials/footer') %>
    </body>
      <script src="app.js" async defer></script>
      