<%- include('./partials/nav') %>
<br><br><br>
<body>
<header>
    <h1>My Stuff</h1>
  </header>
    <main>
      <br>
        <section>
      <% resultsArray.forEach(element => { %>
        <article>
          <fieldset>
            <form action="/favorite/<%= element.id %>?_method=DELETE" method="POST">
              <img src="<%= element.logo_url %>" alt="<%= element.name %>">
              <input type="hidden" name="name" value="<%= element.name %>">
              <input type="hidden" name="next_date" value="<%= element.next_date %>">
              <input type="hidden" name="location" value="<%= element.location %>">
              <input type="hidden" name="external_race_url" value="<%= element.external_race_url %>">
              <input type="hidden" name="logo_url" value="<%= element.logo_url %>">
              <input type="hidden" name="description" value="<%= element.description %>">
              <label> 
                <h6 value="<%= element.name %>"><%= element.name %></h6>
              </label>
              <!-- <input type="hidden" name="description" value="<%= element.description %>"> -->
              <input type="hidden" name="completed " value="<%= element.completed %>">
              <label>
                <p><%- element.description %></p>
              </label>
              <label>
                <h6><% element.next_date %></h6>
                <button type="submit">Delete</button>
                
                <!-- <a href="/favorite/<%= element.name %>?_method:PUT method='POST'">Add to favorites</a> -->
                <!-- <a action="/favorite:<%= element.uniqId %>">Add to favorites</a> -->
              </form>
              <form action="/favorite/<%= element.id %>?_method=PUT" method="POST">
              </label>
              <label for='completed'>Completed
              </label>
            <input type="checkbox" name="completed" value="<%- element.completed %>""  >
            </form>
          </fieldset>
        </article> 
        
        <% }); %>
        
      </section>
    </main>
    </body>
      <script src="app.js" async defer></script>
      